html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}
body {
    min-width: 500px;
    overflow: auto;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.aboutUsBtn:hover {
    background-color: #ff5722;
    border: 1px solid #ff5722;
}

#swiperBgimg1 {
    background-image: url("../img/swiperBgimg1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#swiperBgimg2 {
    background-image: url("../img/swiperBgimg2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


#swiperBgimg3 {
    background-image: url("../img/swiperBgimg3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear {
    clear: both;
}

.opinter {
    cursor: pointer;
}

#firstTextBox {
    text-align: center;
    color: #fff;
    width: 100%;
}

#firstTextZH {
    font-size: 4vw;
    text-shadow: 2px 3px 3px #000;
    margin: 2vw 0;
}

#firstTextEN {
    font-size: 2vw;
}

.aboutUsBtn {
    font-size: 1.5vw;
    border: 1px solid #fff;
    width: 24vw;
    border-radius: 0.5vw;
    padding: 0.3vw;
    margin: 3vw auto 0;
    cursor: pointer;
}

#RegisterBox {
    position: absolute;
    top: 6vw;
    float: right;
    right: 3vw;
    width: 20vw;
    height: 26vw;
    background-color: #fff;
    border-radius: 1vw;
    z-index: 99;
}



#TestEntry {
    width: 100%;
    background-color: #404355;
    color: #fff;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 1vw 1vw 0 0;
    cursor: pointer;
}
#ReTitle {
    width: 100%;
    text-align: center;
    margin: 2vw auto;
    color: #f77e57;
    font-size: 1.5vw;
}

.Bigtitle {
    color: #f77e57;
    font-size: 2.5vw;
}


.smTitle {
    color: #404355;
    font-size: 1.8vw;
}

#SwiperBigtitle {
    color: #404355;
}

#SwipersmTitle {
    color: #fff;
    font-weight: 100;
    font-family: serif;
}

#SwiperBox {
    height: 40vw;
    background-image: url("../img/swiperBGIMG.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clear: both;
    overflow: hidden;
}


#ADimgBox {
    width: 100%;
    height: 20vw;
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


#ADimgBox img {
    width: 100%;
    height: 100%;
}


.pageText {
    width: 100%;
    height: 12vw;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#regbutton {
    color: #fff;
    width: 18vw;
    line-height: 3vw;
    justify-content: center;
    border: 1px solid #ff5722;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 3vw;
    font-size: 1.5vw;
    font-family: "Microsoft Yahei";
}
#regbutton:hover {
    background-color: #ff5722;
}

#starsIF_images {
    height: 100%!important;
}


#ourTeacherimg {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    position: relative;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 99999999999999;
    bottom: 2vw!important;
}

.loginInput {
    width: 80%;
    height: 3vw;
    border-radius: 4px;
    text-align: center;
    border: solid 1px #cacaca;
    outline: 0;
    text-shadow: none;
    margin: 1vw auto;
}
#TestEntry {
    width: 100%;
    background-color: #404355;
    color: #fff;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 1vw 1vw 0 0;
}

.swiper-container-Banner {
    width: 100%;
    height: 100%;
}
.swiper-container {
    width: 60%;
    height: 70%;
}

.swiper-pagination {
    width: 100%;
}

.swiper-pagination-bullet {
    margin: 0 0.2vw;
}

.swiper-wrapper img {
    width: 100%;
    height: 100%;
}

#learnStep {
    width: 76%;
    height: 22vw;
    margin: 3vw auto;
    display: flex;
    justify-content: space-between;
}

#regTitle {
    font-size: 3vw;
    color: #ffffff;
}

#regText {
    font-size: 1.2vw;
    color: #ffffff;
}

#RegistertextBox {
    width: 80%;
    font-size: 1vw;
}

.loginInput {
    width: 80%;
    height: 3vw;
    border-radius: 4px;
    text-align: center;
    border: solid 1px #cacaca;
    outline: 0;
    text-shadow: none;
    margin: 1vw auto;
    font-size: 1vw;
}

#registerText {
    color: #535458;
    margin: 0 auto 1vw;
}
.RightfeaturesList {
    align-items: center;
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-between;
}


.featuresListBox {
    height: 80%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


#RegistertextBox {
    width: 80%;
    font-size: 0.8vw;
}

#LoginBtn {
    width: 80%;
    background-color: #f77e57;
    border-radius: 4px;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5vw;
    cursor: pointer;
    margin: 1vw auto;
}

#registerBtn {
    float: right;
    text-decoration: underline;
    color: #007aff;
    margin-bottom: 1vw;
}
#phoneBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuresList {
    width: 100%;
}

.rightFeaturesText {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#features {
    width: 80%;
    height: 35vw;
    margin: 2vw auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.featuresTitle {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue {
    color: #5477db;
}



#firstTextZH {
    font-size: 3vw;
    text-shadow: 2px 3px 3px #000;
    margin: 2vw 0;
}

#firstTextEN {
    font-size: 1.8vw;
}

#registerBtn {
    float: right;
    text-decoration: underline;
    color: #007aff;
}


#featuresPhone {
    width: 70%;
    height: 100%;
}


.FeaturesIcon {
    width: 100%;
    height: 100%;
}

.FeatruesTitle {
    color: #ff5722;
    font-size: 1.4vw;
}

.FeatruesDesc {
    font-size: 0.8vw;
    color: #434055;
}
.featuresBox {
    height: 100%;
    width: 33.3%;
}


.aboutUsBtn:hover {
    background-color: #ff5722;
    border: 1px solid #ff5722;
}


#classType {
    width: 70%;;
    margin: 3vw auto;
}

#classTypeTitle{
    text-align: center;
    height: 4vw;
    line-height: 4vw;
    color: #404355;
    font-size: 2vw;
    margin: 3vw;
}

#classTypePicBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw auto;;;;;
}

.classTypePic {
}

.classTypeImgBox {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 15vw;
    position: relative;;;
}

.classTypeImgBoxText {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;height: 2.6vw;
    line-height: 2.6vw;
    font-size: 1.4vw;
    font-family: 'Microsoft Yahei';
    color:#fff;
}

.classTypeImgText {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    margin: 1vw auto;height: 4vw;
    color: #404355;display: flex;
}

#classTypeNo1 {
    background-image: url("../img/classType1.png")
}


#classTypeNo2 {
    background-image: url("../img/classType2.png")
}


#classTypeNo3 {
    background-image: url("../img/classType3.png")
}


#TestEntry {
    width: 100%;
    background-color: #404355;
    color: #fff;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 1vw 1vw 0 0;
    cursor: pointer;
}





#ReTitle {
    width: 100%;
    text-align: center;
    margin: 2vw auto;
    color: #f77e57;
    font-size: 1.5vw;
}


.Bigtitle {
    color: #f77e57;
    font-size: 2.5vw;
}


.smTitle {
    color: #404355;
    font-size: 1.8vw;
}


.aboutUsBtn:hover {
    background-color: #ff5722;
    border: 1px solid #ff5722;
}

#classType {
    width: 70%;
    margin: 0 auto;
}


.classTypePic{
    width: 30%;
}

.classTypeImgBoxText{
    text-align: ;;

}

#TestEntry {
    width: 100%;
    background-color: #404355;
    color: #fff;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 1vw 1vw 0 0;
    cursor: pointer;
}




#ReTitle {
    width: 100%;
    text-align: center;
    margin: 2vw auto;
    color: #f77e57;
    font-size: 1.5vw;
}

.Bigtitle {
    color: #f77e57;
    font-size: 2.5vw;
}


.smTitle {
    color: #404355;
    font-size: 1.8vw;
}

.textBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 20%;
    margin: 1vw auto;
}

.LeftfeaturesList {
    flex-direction: row-reverse;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.rightFeaturesIcon {
    width: 20%;
}

#FirstIMG {
    width: 100%;
    height: 38vw;
}

.leftFeaturesText {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


.leftFeaturesIcon {
    width: 20%;
    float: right;
}

.stepImgBox {
    width: 30%;
    height: 100%;
}

.featuresTitle {
    width: 100%;
}


#regDoorBtnBox {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40%;
}
.swiper-button-next {
    background-image: url(../img/right.png);
    width: 5vw;
    height: 8vw;
    background-size: 100% 100%;
    position: absolute;
    float: right;
    right: 4vw;
    top: 106vw;
    z-index: 99999999;
}




.swiper-button-prev {
    background-image: url(../img/left.png);
    width: 5vw;
    height: 8vw;
    background-size: 100% 100%;
    position: absolute;
    float: left;
    left: 4vw;
    top: 106vw;
    z-index: 99999999;
}


.stepImg {
    width: 100%;
    height: 100%;
}

#regDoorBox {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/regDoorBox.png);
}


.aboutUsBtn:hover{
    background-color:#ff5722;
    border: 1px solid #ff5722;
}
#swiperBgimg1{
    background-image: url("../img/swiperBgimg1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#swiperBgimg2{
    background-image: url("../img/swiperBgimg2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#swiperBgimg3{
    background-image: url("../img/swiperBgimg3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.clear{
    clear: both;    
}

.opinter{
    cursor: pointer;    
}
#classType{

}


#firstTextBox{
    text-align: center;
    color: #fff;
    width: 100%;    
}

#firstTextZH{
    font-size: 4vw;
    text-shadow: 2px 3px 3px #000;
    margin: 2vw 0;  
}

#firstTextEN{
    font-size: 2vw; 
}

.loginInput{
    width: 80%;
    height: 3vw;
    border-radius: 4px;
    text-align: center;
    border: solid 1px #cacaca;
    outline: 0;
    text-shadow: none;
    margin: 1vw auto;   
}

#TestEntry{
    width: 100%;
    background-color: #404355;
    color: #fff;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 1vw 1vw 0 0; 
}


#SwiperBigtitle{
    color: #404355; 
}

#SwipersmTitle{
    color: #fff;
    font-weight: 100;
    font-family: serif; 
}


.swiper-container-Banner{
    width: 100%;
    height:100%;
}
.swiper-container{
    width: 60%;
    height: 70%;
}
.swiper-pagination{
    width:100%;
}
.swiper-pagination-bullet{
    margin:0 0.2vw;
}
.swiper-wrapper img{
    width: 100%;
    height: 100%;   
}

#ADimgBox{
    width: 100%;
    height: 20vw;
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100%;  
}

#ADimgBox img{
    width: 100%;
    height: 100%;   
}

.pageText{
    width: 100%;
    height: 12vw;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#learnStep{
    width: 76%;
    height: 22vw;
    margin:3vw auto;
    display: flex;
    justify-content: space-between; 
}

#regTitle{
    font-size: 3vw;
    color: #ffffff;	
}

#regText{
    font-size:1.2vw;
    color: #ffffff;	
}

#starsIF_images{
    height: 100%!important; 
}
#ourTeacherimg{
    width: 100%;
    height: 100%;   
}



#RegistertextBox{
    width: 80%;
    font-size: 1vw; 
}

.loginInput{
    width: 80%;
    height: 3vw;
    border-radius: 4px;
    text-align: center;
    border: solid 1px #cacaca;
    outline: 0;
    text-shadow: none;
    margin: 1vw auto;
    font-size: 1vw; 
}


#registerText{
    color: #535458;
    margin: 0 auto 1vw; 
}
#registerBtn{
    float: right;
    text-decoration: underline;
    color: #007aff; 
}
#featuresPhone{
    width:70%;
    height: 100%;   
}

.featuresList{
    width: 100%;    
}

.FeaturesIcon{
    width: 100%;
    height: 100%;   
}



.FeatruesTitle{
    color: #ff5722;
    font-size: 1.4vw;
}

.FeatruesDesc{
    font-size:0.8vw;
    color: #434055; 
}


.featuresBox{
    height: 100%;
    width: 33.3%;   
}

.blue{
    color: #5477db; 
}

.featuresTitle{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.textBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 20%;
    margin:1vw auto;

}

.LeftfeaturesList{
    flex-direction: row-reverse;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.RightfeaturesList{
    align-items: center;
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-between;	
}


.rightFeaturesIcon{
    width: 20%;
}

#FirstIMG{
    width: 100%;
    height: 38vw;   
}

.leftFeaturesText{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}



.leftFeaturesIcon{
    width: 20%;
    float: right;   
}

.stepImgBox{
    width: 30%;
    height: 100%;   
}


.featuresTitle{
    width: 100%;    
}

#regDoorBtnBox{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    height: 40%;
    /* display: flex; */;
}

.swiper-button-next{
    background-image: url(../img/right.png);
    width: 5vw;
    height: 8vw;
    background-size: 100% 100%;
    position: absolute;
    /* right: 3vw; */
    float: right;
    right: 4vw;
    top: 106vw;
    z-index: 99999999;
}

.swiper-button-prev{
    background-image: url(../img/left.png);
    width: 5vw;
    height: 8vw;
    background-size: 100% 100%;
    position: absolute;
    /* right: 3vw; */
    float: left;
    left: 4vw;
    top: 106vw;
    z-index: 99999999;
}

#ADimgBox{
    width: 100%;
    height: 20vw;
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100%;  
}


#ADimgBox img{
    width: 100%;
    height: 100%;   
}


.stepImg{
    width: 100%;
    height: 100%;   
}


#regDoorBox{
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height:30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/regDoorBox.png);	
}
#RegistertextBox{
    width: 80%;
    font-size: 1vw; 
}

.loginInput{
    width: 80%;
    height: 3vw;
    border-radius: 4px;
    text-align: center;
    border: solid 1px #cacaca;
    outline: 0;
    text-shadow: none;
    margin: 1vw auto;
    font-size: 1vw; 
}

#registerText{
    color: #535458;
    margin: 0 auto 1vw; 
}

.RightfeaturesList{
    align-items: center;
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-between;
	
}


.featuresListBox{
    height: 80%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}



#loginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;;	
}

#RegistertextBox{
    width: 80%;
    font-size: 0.8vw;
}

.loginInput{
    width: 80%;
    height: 3vw;
    border-radius: 4px;
    text-align: center;
    border: solid 1px #cacaca;
    outline: 0;
    text-shadow: none;
    margin: 1vw auto;
    font-size: 1vw;;	
}

#LoginBtn{
    width: 80%;
    background-color:#f77e57;
    border-radius: 4px;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5vw;
    cursor:pointer;
    margin: 1vw auto;
}



#registerBtn{
    float: right;
    text-decoration: underline;
    color: #007aff;
    margin-bottom: 1vw;
}

#phoneBox{
    display: flex;
    align-items: center;
    justify-content: center;

}

.featuresList{
    width: 100%;
}


.rightFeaturesText{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#features{
    width:80%;
    height: 35vw;
    margin: 2vw auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.featuresTitle{
    width: 100%;;
    height: 50%;;
    display: flex;;
    align-items: center;;
    justify-content: center;;
}

.blue{
    color:#5477db;
}
.clear{
    clear: both;
}

#firstTextBox{
    text-align: center;
    color: #fff;
    width: 100%;
}

#firstTextZH{
    font-size: 3vw;
    text-shadow: 2px 3px 3px #000;
    margin: 2vw 0;;

}
#firstTextEN{
    font-size: 1.8vw;;

}
.aboutUsBtn{
    font-size: 1.5vw;
    border: 1px solid #fff;
    width: 24vw;
    border-radius:0.5vw;
    padding: 0.3vw;
    margin: 3vw auto 0;
    cursor:pointer;

}

#RegisterBox{
    position: absolute;
    top: 6vw;
    float: right;
    right: 3vw;
    width: 20vw;
    height: 26vw;
    background-color: #fff;
    border-radius: 1vw;;
    z-index: 99;
}
#RegistertextBox{

}
.loginInput{
    width: 80%;
    height: 3vw;
    border-radius: 4px;
    text-align: center;
    border: solid 1px #cacaca;
    outline: 0;
    text-shadow: none;margin: 1vw auto;    

}
#TestEntry{
    width: 100%;
    background-color: #404355;
    color: #fff;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border-radius: 1vw 1vw 0 0;
    cursor:pointer;
}
#ReTitle{
    width: 100%;
    text-align: center;
    margin: 2vw auto;
    color: #f77e57;
    font-size: 1.5vw;

}


.Bigtitle{
    color: #f77e57;
    font-size: 2.5vw;

}
.smTitle{
    color: #404355;
    font-size: 1.8vw;

}
#SwiperBigtitle{
    color: #404355;;

}
#SwipersmTitle{
    color: #fff;
    font-weight: 100;
    font-family: serif;

}
#SwiperBox{
    height:40vw;
    background-image: url("../img/swiperBGIMG.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clear: both;
    overflow: hidden;

}

#ADimgBox{
	width:100%;
	height: 20vw;
	margin-top: 2rem;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
#ADimgBox img{
	width: 100%;
	height:100%;
}
.pageText{
	width:100%;
	height:12vw;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}


#regbutton{
	color: #fff;
	width:18vw;
	line-height: 3vw;
	justify-content: center;
	border: 1px solid #ff5722;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	height: 3vw;
	font-size: 1.5vw;
	font-family: "Microsoft Yahei";

}
#regbutton:hover{
    background-color:#ff5722;
}
#starsIF_images{
	height: 100%!important;
}
#ourTeacherimg{
	width: 100%;
	height:100%;	
}

.swiper-pagination {
    position: relative;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
    z-index: 99999999999999;
    bottom: 2vw!important;
}
